// colors
$off-white: #fdfdfd;
$light-grey: #a5a3a4;
$mid-grey: #413f40;
$dark-grey: #262425;
$green: #4cb853;

// font size
$font-size-l: 1.6rem;
$font-size-m: 1.2rem;
$font-size-s: 1rem;

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 35rem;